################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Job Scheduling
/Job Scheduling/bin/Debug
/Job Scheduling/obj/Debug
