################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Work Schedule
/Work Schedule/bin/Debug
/Work Schedule/obj/Debug